<p>
I am a Research Fellow at Microsoft Research India, where I have worked with <a href="https://scholar.google.com/citations?user=2WvQ1ZsAAAAJ&hl=en">Srinivasan Iyengar</a>, <a href="https://mohitjaindr.github.io/">Mohit Jain</a>, and <a href="https://www.microsoft.com/en-us/research/people/swmanohmicrosoft-com/">Manohar Swaminathan</a>.
</p>

<h5>Research Interests</h5>
<p>
    I work broadly in the intersection of <span class="fw-bold">HCI, sensing, and applied AI/ML</span>. Specifically, I like to build systems that employ sensing, algorithms, AI/ML to explore HCI questions. Application areas of my interest are <span class="fw-bold">health, ICTD, sustainability, and sports</span>. My work has been published at CSCW, ACM COMPASS (<span class="text-my-blue">Best Paper Award</span>), and ACM SenSys (poster).
</p>

<h5>Past Life :)</h5>
<p class="m-0">
    Prior to MSR, I graduated <i>magna cum laude</i> in Computer Science from <a href="http://ashoka.edu.in">Ashoka University</a>, India. At Ashoka, I was awarded the Undergraduate Research Excellence award. I also won the Student Life Excellence award for my contributions to student life over my four years at Ashoka.
</p>
