<p>
    I am a <b>PhD student in Computer Science</b> at Cornell University advised by <a
        href="https://www.adityavashistha.com/">Aditya Vashistha</a>. Previously, I was a Research Fellow at
    <b>Microsoft Research</b> and a Student Researcher at <b>Google DeepMind</b>.
</p>

<h4>Research Interests</h4>
<p>
    My work sits at the intersection of <b>Natural Language Processing</b> and <b>Human-AI Interaction</b>, where I
    evaluate and mitigate cultural and social biases in large language models. My aim is to make generative systems
    value-aligned and globally safe. My research has been published at top-tier venues,
    open-sourced by <a href="https://github.com/microsoft/modulo">Microsoft</a>, and covered by <a
        href="https://www.theatlantic.com/technology/archive/2025/04/great-language-flattening/682627/">mainstream
        media</a>. On the side, I love tinkering with AI and building things!
</p>

<h4>Background</h4>
<p>
    Before Cornell, I graduated <i>magna cum laude</i> in Computer Science from <a href="http://ashoka.edu.in">Ashoka
        University</a>, India. My undergraduate research earned me the Undergraduate Research Excellence award, while my
    campus leadership was recognized with the Student Life Excellence award. Beyond
    academics, I've competed at varsity-level in badminton and football/soccer, and represented at the national level in
    tennis.
</p>

<h4>Resources for Students/Applicants</h4>
<ul>
    <li><a href="files/practical-tips.pdf">Practical strategies</a> for PhD applications based on my experience.</li>
    <li><a
            href="https://medium.com/@agdhruv/navigating-the-quad-fellowship-application-tips-from-an-inaugural-fellow-28fcd95cb25e">Advice</a>
        for prospective Quad Fellowship applicants.</li>
</ul>