
<p>
    I am a <b>PhD student at Cornell</b>, advised by <a href="https://www.adityavashistha.com/">Aditya Vashistha</a>. Previously, I was a Research Fellow at Microsoft Research, where I worked with <a href="https://scholar.google.com/citations?user=2WvQ1ZsAAAAJ&hl=en">Srinivasan Iyengar</a>, <a href="https://mohitjaindr.github.io/">Mohit Jain</a>, and <a href="https://www.microsoft.com/en-us/research/people/swmanohmicrosoft-com/">Manohar Swaminathan</a>.
</p>

<h6>Research Interests</h6>
<p>
    Currently, I am focusing on <b>Responsible AI</b> (in generative AI) and <b>Human-AI Interaction</b>, especially for low-resource communities. I am also interested in misinformation, sustainability, and sports. My work has been published at ACM CSCW, COMPASS, and SenSys. My work has also been open sourced by Microsoft: <a href="https://github.com/microsoft/modulo">github.com/microsoft/modulo</a>.
</p>

<h6>Past Life :)</h6>
<p>
    Prior to MSR, I graduated <i>magna cum laude</i> in Computer Science from <a href="http://ashoka.edu.in">Ashoka University</a>, India. At Ashoka, I was awarded the Undergraduate Research Excellence award. I also won the Student Life Excellence award for my contributions to student life and social impact. I have played varsity-level badminton and football/soccer, and national-level tennis.
</p>

<h6>Resources for Students/Applicants</h6>
<p>
    <ul>
        <li><a href="files/practical-tips.pdf">Practical tips</a> from my PhD application experience.</li>
        <li><a href="https://medium.com/@agdhruv/navigating-the-quad-fellowship-application-tips-from-an-inaugural-fellow-28fcd95cb25e">Advice</a> on applying for the Quad Fellowship.</li>
    </ul>
    
</p>