<meta name="description" content="Dhruv Agarwal is a computer science undergrad at Ashoka Univeristy, India.">
<meta name="keywords" content="dhruv, agarwal, designer, developer, ashoka, university, computer, science, web">
<meta property="og:image" content="img/favicon.png">
<meta property="og:title" content="Dhruv Agarwal">
<meta property="url" content="https://agdhruv.github.io">
<meta property="og:description" content="Dhruv Agarwal is a computer science undergrad at Ashoka Univeristy, India.">
<meta name="robots" content="index, follow">