/* import fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400');

/* define some CSS variables */

:root {
	--font-raleway: 'Raleway', sans-serif;
	--font-lato: 'Lato', sans-serif;
	--margin-window-size: 25px;
	--secondary-blue: #211ef9;
}

.text-my-blue {
	color: var(--secondary-blue);
}

/* styling starts */

html {
	font-size: 16px;
}

body {
	margin: var(--margin-window-size);
}

h1 {
	font-family: var(--font-raleway);
}

a {
	text-decoration: none;
}

/* main styling begins */

.container-fluid {
	background-color: #f1f1f1;
}

header.my-header .welcome > h2 {
	font-family: var(--font-lato);
	font-weight: 300;
	font-size: 2.4rem;
	margin: 0;
}

header.my-header .welcome > h1 {
	font-family: var(--font-raleway);
	font-weight: 100;
	font-size: 3rem;
	margin: 0;
}

header.my-header .links {
	font-size: 1.6rem;
	margin-top: 0.8rem;
}

	header.my-header .links a {
		color: #636363;
		transition: color 0.2s linear;
	}

	header.my-header .links a:hover {
		color: var(--secondary-blue);
	}

	header.my-header .links a i {
		display: inline-block;
		position: relative;
		top: 0px;
		transition: top 0.2s linear;
	}

	header.my-header .links a:hover i {
		top: -5px;
	}

div.my-container .my-section {
	max-width: 80%;
	margin: 0px auto;
	padding-top: 0.6rem;
	padding-bottom: 0.8rem;
}

	div.my-container .my-section h1.section-heading {
		font-family: var(--font-lato);
		font-size: 1.2rem;
		font-weight: 400;
		text-align: center;
		padding-bottom: 0.2rem;
	}

div.my-container .my-projects {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 0.6rem 0.6rem;
}

	.my-projects h1.section-heading {
		grid-column: 1 / 4;
		justify-self: center;
	}

	.my-projects article.project {
		background: #f1f1f1;
		box-sizing: border-box;
		padding: 0rem;
		padding-bottom: 0.5rem;
		box-shadow: none;
		transition: box-shadow 0.2s linear;
		border-radius: 5px;
		overflow: hidden;
	}

	.my-projects article.project:hover {
		box-shadow: 0px 0px 8px #909090;
	}

		article.project h2.thumbnail {
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			height: 200px;
			box-sizing: border-box;
		}

		article.project h2.name {
			font-family: var(--font-raleway);
			font-size: 0.5rem;
			font-weight: 400;
			color: var(--secondary-blue);
			padding-left: 0.5rem;
			padding-right: 0.5rem;
			padding-top: 0.5rem;
		}

		article.project p.description {
			font-family: var(--font-lato);
			font-size: 0.5rem;
			margin-top: 0.4rem;
			font-weight: 300;
			padding-left: 0.5rem;
			padding-right: 0.5rem;
			text-align: justify;
			max-height: 1000px;
			color: #525252;
		}

		article.project p.description.get-ellipsis {
			max-height: 1.1em;
			line-height: 1.1;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			transition: all 0.2s linear;
		}

		article.project p.stack {
			font-family: var(--font-lato);
			font-size: 0.5rem;
			margin-top: 0.4rem;
			font-weight: 400;
			color: #525252;
			padding-left: 0.5rem;
			padding-right: 0.5rem;
		}

		article.project a.link {
			font-size: 0.5rem;
			padding-left: 0.5rem;
			padding-right: 0.5rem;
			color: var(--secondary-blue);
		}

		article.project button.expand {
			background: none;
			border: none;
			font-size: 0.6rem;
			margin-left: 0.5rem;
			margin-right: 0.5rem;
			color: green;
			outline: none;
		}

			article.project button.expand i {
				cursor: pointer;
			}

			article.project button.expand.red {
				color: red;
			}

/* define selection color */

::selection {
    background: #e8e8e8;
}


/* MEDIA QUERIES */

@media screen and (max-width: 967px) {
	div.my-container .my-section {
		max-width: 90%;
	}
}

@media screen and (max-width: 767px) {
	div.my-container .my-section {
		max-width: 70%;
	}

	div.my-container .my-projects {
		grid-template-columns: 1fr;
		grid-gap: 0.6rem 0rem;
	}

		.my-projects h1.section-heading {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
			justify-self: center;
		}
}

@media screen and (max-width: 499px) {
	div.my-container .my-section {
		max-width: 90%;
	}

	html {
		font-size: 22px;
	}

	:root {
		--margin-window-size: 20px;
	}

	article.project h2.thumbnail {
		height: 200px;
	}
}














